body{
    padding-top: 65px;
    background-color: #eaebff;
    /* background-color: #f5f5ff; */
    font-weight: bold;
}

.container{
    padding: 10px 30px;
}
.navbar{
    background-color: #eaebff;
    padding-top: 10px;
}

.bg-custom {
    background-color: #fdfdff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul li a.nav-link{
    color: red;
}
.navbar-brand {
    color: #242426 !important;
  }
  
  .nav-link {
    color: black !important;
  }
  
  .nav-link:hover {
    color: blue!important;
  }
